* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}


.body{
  margin: 0;
  background: rgb(3,74,156);
  background: linear-gradient(90deg, rgba(3,74,156,1) 0%, rgba(9,9,121,1) 37%, rgba(10,5,93,1) 77%);
}

.line {
  height: 2px;
  margin: 10px 10px;
}

.navbar {
  display: flex;
  margin-top: -10px;
  gap: 47%;
  padding: 3px 10px;
  background: rgb(3,74,156);
  background: linear-gradient(90deg, rgba(3,74,156,1) 0%, rgba(9,9,121,1) 37%, rgba(10,5,93,1) 77%);
  box-shadow: 2px 17px 29px -14px rgba(18,73,185,1);
  position: fixed;
  z-index: 5;
  width: 98.7%;
}

.logo {
  width: 80px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 2%;
}

.company-name {
  color: #fff200;
  font-size: 20px;
  font-weight: bold;
}

.nav-link {
  position: relative;
  color: #fff200; 
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px 10px 10px;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #fff200;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: #f7f255;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  padding-right: 10px;
  font-weight: bold;
}

.login-btn {
  padding: 8px 16px;
  font-size: 16px;
  height: 40px;
  width: 150px;
  padding: 5px 10px;
  border: solid #fff200 2px;
  background-color: #ffffff;
  color: darkblue;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.login-btn:hover {
  cursor: pointer;
  background-color: #fff200;
  color: #1249b9;
}

.poster {
  display: grid;
  grid-template-columns: 4fr 6fr;
  background: #fff200;
 /* background: linear-gradient(90deg, rgba(3,74,156,1) 0%, rgba(9,9,121,1) 37%, rgba(10,5,93,1) 77%); */
}

.hero-image {
  display: grid;
}
.poster-img {
  height: 450px;
  width: 900px;
}
.hero-content {
  display: grid;
  justify-content: center;
  align-items: center;
  color: #1249b9;
  font-size: 35px;
  padding-left: 30px;
}

.about-topic {
  /* background-color: #ffffff; */
  background: rgb(3,74,156);
background: linear-gradient(90deg, rgba(3,74,156,1) 0%, rgba(9,9,121,1) 37%, rgba(10,5,93,1) 77%);
  color: #fff200;
  padding: 10px 10px;
  text-align: center;
  font-size: 30px;
  margin-bottom: 2%;
}
.about-main {
  display: flex;
  flex-direction: row;
}
.about-container {
  background: rgb(3,74,156);
background: linear-gradient(90deg, rgba(3,74,156,1) 0%, rgba(9,9,121,1) 37%, rgba(10,5,93,1) 77%);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.about-description {
  flex: 1;
}

.about-description h2 {
  font-size: 49px;
  margin-bottom: 10px;
  color: #fff200;
}

.about-description p {
  font-size: 30px;
  color: #fff200;
  line-height: 1.7;
  letter-spacing: 1.3px;
}

.image-container {
  position: relative;
  width: 600px;
  height: 600px;
  margin-top: 3%;
  flex-shrink: 0;
}

.image-stack {
  position: relative;
  width: 70%;
  left: 10%;
  height: 90%;
}

.background {
  position: absolute;
  width: 90%;
  height: 90%;
  z-index: 1;
}

.background.blue {
  background-color: #4169e1;
  top: -20px;
  left: 60px;
}

.background.red {
  background-color: #ff6347;
  top: 96px;
  left: -20px;
}

.main-image {
  position: absolute;
  top: 60px;
  left: 50px;
  z-index: 2;
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 5px;
}

.intern-topic {
  background: rgb(3,74,156);
background: linear-gradient(90deg, rgba(3,74,156,1) 0%, rgba(9,9,121,1) 37%, rgba(10,5,93,1) 77%);
  color: #fff200;
  padding: 10px 10px;
  text-align: center;
  font-size: 30px;
  margin-bottom: 2%;
}
.intern-odd {
  display: grid;
  border-radius: 14px;
  grid-template-columns: 2fr 3.5fr;
  margin-left: 4%;
  padding: 20px;
  width: 80%;
  max-width: 100%;
  margin-bottom: 2%;
}
.intern-even {
  display: grid;
  border-radius: 14px;
  grid-template-columns: 3.5fr 2fr;
  margin-left: 14%;
  padding: 20px;
  width: 80%;
  max-width: 100%;
  margin-bottom: 2%;
}
.intern-even:hover,
.intern-odd:hover {
  cursor: pointer;
  transition-duration: 0.3s;
  transform: scale(1.03);
  box-shadow: 7px 7px 6px 8px solid black;
}

.advantage-points {
  text-align: center;
  font-style: bold;
  font-size: 28px;
  margin-bottom: 4px;
}


.advantage-image-odd {
  text-align: center;
  border-radius: 5px;
}

.advantage-content-odd {
  background-color: #ffffff;
  font-size: 23px;
  color: rgb(0, 0, 0);
  padding: 20px;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  text-align: justify;
}
.advantage-content-odd:hover {
  transition-duration: 0.2s;
  background-color: #fff200;
  color: rgb(0, 0, 0);
}

.advantage-image-even {
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}
.advantage-content-even {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 23px;
  padding: 20px;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  text-align: justify;
}
.advantage-content-even:hover {
  transition-duration: 0.2s;
  background-color: #fff200;
  color: rgb(0, 0, 0);
}

.internships-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: max-content;
  padding: 10px;
}

.intern-tech {
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  /* background: rgb(44,68,194);
  background: radial-gradient(circle, rgba(44,68,194,1) 0%, rgba(22,34,202,1) 19%, rgba(0,25,93,1) 100%); */
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.intern-description {
  text-align: center;
  color: #fff200;
  font-size: 24px;
}

.intern-tech:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  /* transform: scale(1.01); */
}

.tech-image {
  max-width: 60%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 4px;
}

.tech-options {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.tech-options {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}
.options {
  height: 50px;
  width: 300px;
  padding: 5px 10px;
  border: solid #1249b9 2px;
  background-color: #ffffff;
  color:#1249b9;
  border-radius: 4px;
  transition: background-color 0.2s;
}
.options:hover {
  color: #fff200;
  background-color: #1249b9;
  cursor: pointer;
}
.internship-page{
  margin-left: 43.4%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 16px;
  padding: 10px 10px;
  border: none;
  background-color: #ffffff;
  color:#1249b9;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.internship-page:hover{
  background-color: #fff200;
  /* border: solid #fff200 2px; */
  color: #1249b9;
  cursor: pointer;
}

.footer {
  display: grid;
  grid-template-columns: 2fr 5fr;
}
.left-footer {
  display: grid;
  background-color: #00aeff;
  align-items: center;
  justify-content: center;
}
.right-footer {
  display: grid;
  background-color: pink;
  align-items: center;
  justify-content: center;
}
.final-footer {
  text-align: center;
  padding: 10px 10px;
  background-color: #00aeff;
  color: white;
}

/* @media (min-width: 670px) {
  .internships-grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1070px) {
  .internships-grid {
    grid-template-columns: 2fr;
  }
} */

.contact-section {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  padding: 40px;
  
}

.contact-section .column {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.contact-section .column img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.contact-section .column img:hover{
  transform: scale(1.03);
  transition-duration: 0.3s;
  cursor: pointer;
} 

.contact-section .address {
  margin-top: 15px;
  font-size: 16px;
  color: #333;
}

.contact-section .form input,
.contact-section .form textarea {
  width: 97%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.contact-section .form button {
  background-color: #ffffff;
  margin-left: 38%;
  margin-top: 4%;
  color: #1249b9;
  padding: 12px 20px;
  border: 2px solid #1249b9;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.contact-section .form button:hover {
  background-color: #1249b9;
  color: #fff200;
}

.column-topic{
  font-size: 24px;
}
.column-topic-media{
  font-size: 24px;
  margin-bottom: 14%;
}


.contact-section .social-links ul {
  list-style: none;
  text-align: center;
}

.contact-section .social-links ul li {
  margin-bottom: 10px;
}

.contact-section .social-links ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.contact-section .social-links ul li a:hover {
  color: #00aeff;
}

@media (max-width: 768px) {
  .contact-section {
    grid-template-columns: 1fr;
  }
}
