<div class="body">
<div class="header">
  <nav class="navbar">
    <div class="navbar-left">
      <img class="logo" src="/IMAGES/logo.jpg" alt="Logo" />
      <span class="company-name">TECH-5 SOLUTIONS</span>
    </div>
    <div class="navbar-right">
      <a href="#home" class="nav-link">Home</a>
      <a href="#about" class="nav-link">About </a>
      <a href="#internships" class="nav-link">Internships</a>
      <a href="#contact" class="nav-link">Contact</a>
      <button class="login-btn" routerLink="/login">Login</button>
    </div>
  </nav>
</div>
<div class="poster" id="home">
  <div class="hero-content">
    "Your Future Starts Here! <br>
    Gain hands-on experience and 
    boost your career with our exciting online internships."

  </div>
  <div class="hero-image">
    <img class="poster-img" src="IMAGES/hero.png" alt="Poster" />
  </div>
</div>
<!-- <hr class="line" /> -->
 <div class="about">
<div class="about-topic" id="about">ABOUT US</div>
<div class="about-container">
  <div class="about-description">
    <p>
      We specialize in providing flexible and industry-relevant online internships to help
       students and professionals gain real-world experience. Our programs focus on mentorship, skill development, 
      and career growth across various fields. Join us to build your expertise and step confidently into your dream career!
    </p>
  </div>
  <div class="image-container">
    <div class="image-stack">
      <div class="background blue"></div>
      <div class="background red"></div>
      <img src="IMAGES/company-about.jpg" alt="Glass Building" class="main-image">
    </div>
  </div>
</div>
</div>

<!-- <div class="carousel-container">
  <div class="carousel-image1">
    <img src="IMAGES/CAROUSEL1.png" alt="">
  </div>
  <div class="carousel-image2">
    <img src="IMAGES/CAROUSEL2.png" alt="">
  </div>
  <div class="carousel-image3">
    <img src="IMAGES/CAROUSEL3.png" alt="">
  </div>
  <div class="carousel-image4">
    <img src="IMAGES/CAROUSEL4.png" alt="">
  </div>
</div> -->

<!-- <hr class="line" /> -->

<h3 class="intern-topic">WHY INTERNSHIP IN OUR ORGANISATION?</h3>
<div class="advantage-container">
<div class="intern-odd">
  <div class="advantage-image-odd">
    <img src="IMAGES/career-boost.jpeg" alt="" />
  </div>
  <div class="advantage-content-odd">
    <p class="advantage-points">Career Boost </p>
    Strengthen your resume and increase your employability with a recognized internship certificate.
  </div>
</div>
<div class="intern-even">
  <div class="advantage-content-even">
    <p class="advantage-points">Flexibility </p>
    Work from anywhere, at your own pace, while balancing studies or other commitments.
  </div>
  <div class="advantage-image-even">
    <img src="IMAGES/flexibility.jpeg" alt="" />
  </div>
</div>
<div class="intern-odd">
  <div class="advantage-image-odd">
    <img src="IMAGES/rwe.jpeg" alt="" />
  </div>
  <div class="advantage-content-odd">
    <p class="advantage-points">Real World-Experience </p>
     Gain hands-on experience with industry-relevant projects guided by expert mentors.
    </div>
</div>
<div class="intern-even">
  <div class="advantage-content-even">
    <p class="advantage-points">Skill Development </p>
    Enhance your technical and professional skills through practical learning and personalized feedback.
  </div>
  <div class="advantage-image-even">
    <img src="IMAGES/skill-dev.png" alt="" />
  </div>
</div>
<div class="intern-odd">
  <div class="advantage-image-odd">
    <img src="IMAGES/virtuality.jpeg" alt="" />
    <!-- <h2>=></h2> -->
  </div>
  <div class="advantage-content-odd">
    <p class="advantage-points">Virtuality </p>
    Work from Anywhere, Succeed Everywhere! Build skills that matter with industry-focused online internships
      </div>
</div>
</div>
<!-- <hr class="line" /> -->
  <h3 class="intern-topic"  id="internships"  >POPULAR INTERNSHIPS</h3>
  <p class="intern-description">
    "Learn, Grow, Achieve! Join our online internship program and unlock endless opportunities."
  </p>
  <br />

  <div class="internships-grid" id="view-internship">
    <!-- Intern 1 -->
    <div class="intern-tech">
      <div class="tech-section">
        <img class="tech-image" src="/IMAGES/JAVA INTERNSHIP.png" alt="Java Internship" />
      </div>
      <div class="tech-options">
        <button class="options">APPLY</button>
        <button class="options">VIEW INFO</button>
      </div>
    </div>
  
    <!-- Intern 2 -->
    <div class="intern-tech">
      <div class="tech-section">
        <img class="tech-image" src="/IMAGES/react.png" alt="React Internship" />
      </div>
      <div class="tech-options">
        <button class="options">APPLY</button>
        <button class="options">VIEW INFO</button>
      </div>
    </div>
  
    <!-- Intern 3 -->
    <div class="intern-tech">
      <div class="tech-section">
        <img class="tech-image" src="/IMAGES/python.png" alt="Python Internship" />
      </div>
      <div class="tech-options">
        <button class="options">APPLY</button>
        <button class="options">VIEW INFO</button>
      </div>
    </div>
  
    <!-- Intern 4 -->
    <div class="intern-tech">
      <div class="tech-section">
        <img class="tech-image" src="/IMAGES/Angular.png" alt="Angular Internship" />
      </div>
      <div class="tech-options">
        <button class="options">APPLY</button>
        <button class="options">VIEW INFO</button>
      </div>
    </div>
    <!-- Intern 5-->
    <div class="intern-tech">
      <div class="tech-section">
        <img class="tech-image" src="/IMAGES/Angular.png" alt="Angular Internship" />
      </div>
      <div class="tech-options">
        <button class="options">APPLY</button>
        <button class="options">VIEW INFO</button>
      </div>
    </div>
    <!-- Intern 6 -->
    <div class="intern-tech">
      <div class="tech-section">
        <img class="tech-image" src="/IMAGES/Angular.png" alt="Angular Internship" />
      </div>
      <div class="tech-options">
        <button class="options">APPLY</button>
        <button class="options">VIEW INFO</button>
      </div>
    </div>
  </div>
  <button class="internship-page">
    VIEW MORE INTERNSHIP...
  </button>
  

<!-- <hr class="line" /> -->
<div class="about-topic" id="contact">CONTACT</div>
<div class="contact-section">
  <div class="column">
    <h3 class="column-topic">Reach us:</h3>
      <img src="IMAGES/address.jpeg" alt="Contact Image">
      <div class="address">
          <h3>Our Address:</h3>
          <p>21, End Steert, Annanagar, Chennai-24.</p>
      </div>
  </div>

  <div class="column form">
      <h3 class="column-topic">Text Us:</h3>
      <form>
          <input type="text" name="name" placeholder="Your Name" required>
          <input type="email" name="E-Mail" placeholder="Your Email" required>
          <input name="message" placeholder="Your Message" rows="4" required>
          <button type="submit">Send Message</button>
      </form>
  </div>

  <div class="column social-links">
      <h3 class="column-topic-media">Follow Us: </h3>
      <ul class="icon-list">
        <li><a>Facebook</a></li>
        <li> <a>Twitter</a></li>
        <li><a>Instagram</a></li>
        <li><a>LinkedIn</a></li>
        <li><a> YouTube</a></li>
      </ul>
  </div>
</div>



<div class="final-footer">
  <h4>$copyright-2024-$Tech-5 Solutions</h4>
</div>
</div>
